/* ==================================reset================================== */
*{margin:0; padding: 0; font-size: 12px; color:#454545; font-family: '微软雅黑';}
ul{list-style:none; }
a{text-decoration:none;}
.row{width: 100%; }
/* ==================================reset================================== */


/* ==================================header================================== */
.header>.top{width: 100%; height: 34px; background: #f5f5f5; line-height:34px;}
.header>.top>p{width: 1080px; color:#201b18; padding-left: 4px; box-sizing:border-box; margin:0 auto;}
.header>.bot{background: #fff; width: 100%; height: 154px; }
.header>.bot>h1{width: 1080px; box-sizing:border-box; padding:48px 0px 0px 6px; margin:0 auto;}
/* ==================================header================================== */

/* ==================================nav================================== */

.nav-top{background: #e60008; height: 43px;}
.nav-top>ul{ width: 1080px; height: 43px; margin:0 auto;}
.nav-top>ul>li{ width: 12%; height: 43px; float: left; line-height: 43px; text-align:center; }
.nav-top>ul>li:nth-child(odd){background: #ca060e;}
.nav-top>ul>li:first-child{width: 16%; background:#ca060e; position: relative; }
.nav-top>ul>li:nth-child(3){ background:#1e272f; }
.nav-top>ul>li:first-child>img{display: inline-block; position: absolute;top:8px; left: 28px;}
.nav-top>ul>li:hover{background:#1e272f; }
.nav-top>ul>li>a{font-family: '宋体'; font-size: 15px; color:#fff;}
.nav-top>ul>li>ul{width: 100%; }
.nav-top>ul>li>ul>li{background:#e00218; width: 100%; height: 36px; line-height: 36px; color:#fff; margin-top:1px; display:none;}
.nav-top>ul>li:hover>ul>li{display: block;}
.nav-top>ul>li>ul>li:hover{background: #c5081b;}
/* ==================================nav================================== */


/* ==================================banner-top================================== */
.banner-top{ background: url(../images/shizi_02.png);  height: 200px; margin-bottom: 72px; }

/* ==================================banner-top================================== */



/* ==================================主体部分================================== */

.clear{clear:both;}

.zhong{}
.zhong>.article{ width: 1080px;  margin:0 auto; border-bottom:1px solid #fff; margin-bottom: 175px;}
.zhong>.article>h1{ width: 100%; height: 30px; font-size:20px; border-bottom:2px solid #454545; margin-bottom: 40px; }
.zhong>.article>.zuo{ width: 670px; float: left;}
.zhong>.article>.zuo>.box{background: #e8e8e8; width: 100%; height: 190px; position: relative; margin-bottom: 4px;}
.zhong>.article>.zuo>.box>.top{ width: 100%; height: 110px;}
.zhong>.article>.zuo>.box>.top>.text{ width: 470px; height: 100%; float: right;  box-sizing:border-box; padding-left: 30px;}
.zhong>.article>.zuo>.box>.top>.text>h1,.zhong>.article>.zuo>.box>.top>.text>h2{font-size: 16px; color: #333;}
.zhong>.article>.zuo>.box>.top>.text>h3{margin-top: 18px; margin-bottom: 10px;}
.zhong>.article>.zuo>.box>.bot{background:#e70012; width: 110px; height: 32px; position: absolute; right: 35px; bottom: 16px; font-weight:bold; font-size: 16px; color: #fff; text-align: center; line-height: 32px;}


.zhong>.article>.you{ width: 307px; height: 1000px; float: right;}

.zhong>.article>.you>.first{text-align:center;}
.zhong>.article>.you>.first>h1{width:100%; height: 36px; background: #e70012; font-size:22px; color:#fff; box-sizing:border-box; text-align:center; }
.zhong>.article>.you>.first>.weixin{margin:20px 0 12px 0;}
.zhong>.article>.you>.first>p{line-height: 1.5em; }
.zhong>.article>.you>.first>img:last-child{margin-top: 5px;}



.zhong>.article>.you>.second{ width: 307px;  margin-top: 16px; margin-bottom:16px; text-align:center;}
.zhong>.article>.you>.second>img{margin-bottom: 4px;}
.zhong>.article>.you>.second>.bot{ width: 100%; height: 46px; position: relative;;}
.zhong>.article>.you>.second>.bot>div{width: 63px; height: 25px; text-align: center; position: absolute; z-index: 4;}
.zhong>.article>.you>.second>.bot>p{background: #e70012; width: 100%; height: 23px;  box-sizing:border-box; position: absolute; bottom:0px; text-align:left;}
.zhong>.article>.you>.second>.bot>p>span{margin:0 25px; line-height: 23px; color:#fff;}
.zhong>.article>.you>.second>.bot>.pao1{background: url(../images/paopao_13.png); left:0px; color:#4f0006;}
.zhong>.article>.you>.second>.bot>.pao2{background: url(../images/paopao_13.png); left:78px; color:#4f0006;}
.zhong>.article>.you>.second>.bot>.pao:hover{background: url(../images/paopao_11.png); color: #fff;}
.zhong>.article>.you>.second>.text{width: 100%; height: 125px; box-sizing:border-box; border:2px solid #999; overflow:auto;}
.zhong>.article>.you>.second>.text>ul{ width: 100%; height: 16px; }
.zhong>.article>.you>.second>.text>ul>li{ width: 76px; height: 16px; line-height: 16px; text-align:center; float:left; }
.zhong>.article>.you>.second>.text>ul>li:last-of-type{width: 16px; height: 16px;}
.color-red{color:red;}
.up{background: url(../images/up_06.png) no-repeat center center;}
.down{background: url(../images/down_03.png) no-repeat center center;}


.zhong>.article>.you>.third{float:right; width: 307px;}
.zhong>.article>.you>.third>h1{  padding-left:10px; margin-bottom: 14px; width:100%; height: 36px; line-height:36px;  background: #e70012; font-size:22px; color:#fff; position: relative; box-sizing:border-box;}
.zhong>.article>.you>.third>h1 img{position: absolute;}
.zhong>.article>.you>.third>h1>.pit1{left: 128px;}
.zhong>.article>.you>.third>h1 .pit2{right: 12px; top:10px;}
.zhong>.article>.you>.third>.neirong>p{background:url(../images/xiaotu_23.png) no-repeat center left; width: 100%; padding: 0px 20px 0px 20px; line-height: 28px; margin-left:20px; box-sizing:border-box;}

/* ==================================主体部分================================== */



/* ==================================banner-bot================================== */
.banner-bot{height: 192px; margin-bottom:36px;}
.banner-bot>img{width: 100%; height: 100%;}

/* ==================================banner-bot================================== */

/* ==================================nav-bot================================== */
.nav-bot{background: #505050; height: 43px;}
.nav-bot>ul{ width: 1000px; height: 100%; margin:0 auto; }
.nav-bot>ul>li{ float: left; width: 14%; height: 23px; text-align:center; line-height: 23px; margin-top:10px; border-right:1px dotted #fff;}
.nav-bot>ul>li:last-child{border:none;}
.nav-bot>ul>li>a{color:#fff;}
/* ==================================nav-bot================================== */
/* ==================================footer================================== */
.footer{height: 250px; background: #e8e8e8 url(../images/hy_27.png) no-repeat center 60px; text-align:center; border-top:1px solid #e8e8e8;}
.footer>h1{margin-top: 145px; margin-bottom: 20px;}
/* ==================================footer================================== */